.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .cabecalho {
    background-color: var(--background-menu);
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .container__imagem {
    padding: 1em;
  }
  
  .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: var(--background-menu);
  }
  
  .container__botao:checked ~ .lista-menu {
    display: block;
  }
  
  .lista-menu__titulo,
  .lista-menu__item {
    padding: 1em;
  }
  
  .lista-menu__titulo {
    color: var(--color-categorias);
    font-weight: 700;
  }
  
  .lista-menu__link {
    background: var(--azul-degrade);
    background-clip: text;
    text-decoration: none;
  }
  
  
  .container__botao {
    display: none;
  }
  
  .container__titulo,
  .container__titulo--negrito {
    display: none;
  }
  
  .navbar {
    display: none;
  }

  .navbar__botao {
    display: none;
  }

  
 
@media screen and (min-width: 1024px) {
  .container__titulo,
  .container__titulo--negrito {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
    display: block;
  }

  .container__titulo {
    display: flex;
    font-weight: 400;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }

  .cabecalho__menu-hamburguer {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: center;
  }

  .navbar__item {
    padding: 1em;
  }

  .navbar__links {
    text-decoration: none;
    color: var(--color-black);
  }

  .navbar__link-categoria {
    text-decoration: none;
    color: var(--color-black);
  }

  .navbar__meus-favoritos {
    display: none;
  }

  .logo__alura-header {
    padding: 0 0.6em 0 2em;
  }

  .navbar__lista-menu {
    display: none;
    position: absolute;
    top: 75%;
    left: 31.8%;
    background-color: var(--background-menu);
    color: black;
    text-align: left;
  }

.categoria-container {
  padding: 1em;
}

.menu-container {
  display: inline;
  padding: 0.8em;
  text-align: left;
  align-items: end;
  justify-content: left;
  text-decoration: none;
  color: var(--color-black);
}

.lista-menu__link {
  color: black;
  text-decoration: none;
}

.categoria-container:hover {
  text-decoration: none;
  background: var(--azul-degrade);
  color: var(--background-menu);
}

.menu-container:hover {
  text-decoration: none;
  color: var(--background-menu);
}

.lista-menu__item {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 20px;
}

.lista-menu__item:hover {
  text-decoration: none;
  background: var(--azul-degrade);
  color: var(--background-menu);
}


.lista-menu__link:hover {
  color: white; /* Define a cor do texto como branco */
}

.navbar__links:hover {
  color: var(--azul);
}

}